
$RSAWEB_Red: #FF5222;
$RSAWEB_Orange: #FFC046;
$RSAWEB_Text_Red: #FF9137;
$RSAWEB_Text_Orange: #FFC046;
$RSAWEB_DropShadow: #FF8A00;

#root {
    font-family: 'Inter', sans-serif;
}

.weather_data_container {
    display: flex;
    flex-direction: column;
}

.weather_sound_icon {
    width: 1.3rem;
    
}

.weather_location {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-around;

}

.location_name {
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    width: 100%;
    
}

.weather_info_date {
    background: black;
    color: $RSAWEB_Text_Orange;
    padding: 8px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    font-size: 16px;
}

.weather_condition {
    padding-top: 18px;
    font-weight:500;
    font-size: 18px;
    text-transform: capitalize;
    width: 100%;
}

.weather_temperature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -130px;
}

.weather_temp_number {
    font-weight:400;
    font-size: 130px;
}

.weather_temp_celcius {
    font-weight:700;
    font-size: 48px;
    position: relative;
    top: 100px;
}

.weather_details {
    background: black;
    // width: 100%;
    color: $RSAWEB_Text_Red;
    padding: 8px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    position: relative;
    top: -260px;
    justify-content: space-around;
}

.weather_details_category {
    display: flex;
    flex-direction: column;
}

.weather_category_value{
    font-size: 16px;
    font-weight: 600;
}

.weather_category_text {
    font-size: 12px;
    font-weight: 400;
}

.weather_details_icon {
    height: 20px;
    padding-bottom: 5px;
}