// #root {
//     max-width: 1280px;
//     margin: 0 auto;
//     padding: 2rem;
//     text-align: center;
//   }



$RSAWEB_Red: #FF5222;
$RSAWEB_Orange: #FFC046;
$RSAWEB_Text_Red: #FF9137;
$RSAWEB_Text_Orange: #FFC046;
$RSAWEB_DropShadow: #FF8A00;

#root {
    font-family: 'Inter', sans-serif;
    // margin: 0 auto;
    padding: 0.3rem;
    text-align: center;
    // max-width: 1350px;
}


body {
    background: black no-repeat center center fixed;
    background-size: cover;
    // display: flex;
    // flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    height: 100vh;
}

.app_body {
    display: flex;
    flex-direction: row;
    // align-items: center;
    width: 100%;
    justify-content: flex-start; 
  }

.app_greeting {
    font-weight: 500;
}
  
  .background_content_body {
    width: 100%;
    max-width: 400px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    background: black;
  }
  
  .main_content_body {
    flex-grow: 1; 
    width: 100%;
  }

.sunny_large_icon {
    width: 100%;
}

.main_container {
    border: 2px solid black;
    border-radius: 5rem 0rem 0rem 5rem;
    // max-width: 1300px;
    height: 85vh;
    position: relative;
    // left: 30%;
    background: linear-gradient(45deg, $RSAWEB_Red 0%, $RSAWEB_Orange 100%)no-repeat center center fixed;
    padding: 3rem;
  
}

.landing_container {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    text-align: center;
  }

.landing_image {
    width: 45%;
}

.landing_text {
    padding: 1rem;
}

.landing_text_sub1 {
    font-weight: 400;
}

.landing_text_sub2 {
    font-weight:700;
}


.search_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.search_icon {
    background: black;
    padding: 15px;
    border-radius: 360px;
    height: 30px;
    box-shadow: $RSAWEB_DropShadow 0px 0px 10px 1px;
}

// ADD: on click: remove the box-shadow and background color

.location_input {
    background: black;
    color: $RSAWEB_Text_Orange;
    height: 39px;
    border-radius: 360px;
    border: none;
    padding-left: 20px;
    width: 90%;
    font-weight: 500;
    font-size: 16px;
    box-shadow: $RSAWEB_DropShadow 0px 0px 10px 1px;
    // margin: 10px;
}

.background_weather_location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

// media query for screens smaller than tablet (max-width: 425px)
@media screen and (max-width: 425px) {
    body {
        background: linear-gradient(45deg, $RSAWEB_Red 0%, $RSAWEB_Orange 70%)no-repeat center center fixed;
    }

  
    .main_container {
        border: none;
        border-radius: 0rem;
        // max-width: 1024px;
        width: 100%;
        height: 0vh;
        position: relative;
        left: 0%;
        top: 0%;
        border: none;
        border-radius: 0rem;
        padding: 0rem;
        
    }
    
    
    .background_container {
        display: none;
    }

    .background_content_body {
        display: none;
    }

    .landing_container {
        display: none;
    }

   
 
    .weather_data_container {
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        width: 100%;
    }
    
}